.portfolio-home {
  &__container {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(/dist/images/01.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #c7b39b;
    background-position-x: center;
  }
  &__content {
    align-self: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
    margin: 15px;
    font-size: 60px;
    color: #240b0b;
    border: 5px solid #211111;
  }
  &__mark {
    align-self: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color: #240b0b;
    text-align: center;
    padding: 10px;
    margin: 15px;
  }
}
