.menu {
  &__list {
    display: flex;
    justify-content: space-between;

    &.active {
      display: block;
    }
  }
  &__item {
    position: relative;
    margin: 30px 0 30px;
  }
  &__link {
    display: flex;
    color: white;

    font-size: 25px;
    line-height: 22px;
    font-weight: 700;
    &:hover,
    &:active,
    &:focus {
      color: #bbb3a8;
    }
  }
}
