.portfolio-skills {
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 130px;
  }
  &__img {
    align-items: flex-end;
    padding: 5px;
  }
  &__link {
    font-size: larger;
    font-weight: bold;
    color: #211111;
    align-self: center;
    align-items: flex-end;
  }
}
