@import "menu";
@import "home";
@import "about";
@import "skills";
@import "portfolio";
@import "footer";

.portfolio {
  min-width: 320px;
  max-width: 1200px;
  &__header {
    position: fixed;
    margin: 0 auto;
    background-color: #211111;
    width: 100%;
  }
  &__home {
    min-width: 320px;
  }
  &__about,
  &__portfolio {
    background: #f6f6f6;
    color: #211111;
    padding-bottom: 20px;
  }
  &__skills,
  &__footer {
    padding-bottom: 20px;
  }
}
